h1 {
    font-family: "Montserat-Black";
    font-size: 3rem;
    line-height: 1.5;
    color: inherit;
}

h2 {
    font-family: "Montserat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserat-Bold";
    font-size: 3rem;
    line-height: 2;
}

p {
    color: grey;
}

.container-fluid {
    padding: 3% 15%;
}

body {
    font-family: "Montserat-Bold";
    background-color: #F7C8E0;

}


/* Testimonials */
#testimonials {

    text-align: center;
    background-color: #F7C8E0;
    color: #95BDFF;

}

.testimonial-carrousels {
    vertical-align: middle;

}

.testimonial-image {
    width: 45%;
    border-radius: 60%;
    margin: 20px;
}

.testimonial-image2 {
    width: 42%;
    border-radius: 60%;
    margin: 20px;
}

.testimonial-image3 {
    width: 45%;
    border-radius: 60%;
    margin: 20px;
}

.carousel-item {
    padding: 5% 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: #95BDFF;
    background-size: 100%, 100%;
    border-radius: 50%;
}